.background {
    -fx-background-image: url("spaceImage.png");
}

.leftbackground {
    -fx-background-color: linear-gradient(to right, #3D1fB7, #372F56);
}

.worker {
    -fx-background-image: url("worker.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: #fff;
    -fx-font-size: 15px;
}
.worker:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
}

.vehicle {
    -fx-background-image: url("vehicle.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: #fff;
    -fx-font-size: 15px;

}
.vehicle:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
}

.factory {
    -fx-background-image: url("factory.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: #fff;
    -fx-font-size: 15px;

}
.factory:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
}

.backToLogin {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 2 2 2 2;
    -fx-border-radius: 5;
}

.backToLogin:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-cursor: hand;
}